<h3>Marks</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        Subject
      </th>
      <th>
        Marks
      </th>
      <th>
        High
      </th>
      <th>
        Avg.
      </th>
      <th>
        Percentile
      </th>
      <th>
        Rank
      </th>
    </tr>
  </thead>
  <tbody>
    <% [:english, :hindi, :mathematics, :science, :social, :total].each do |property| %>
      <tr>
        <td>
          <%= property.to_s.gsub("_", " ").titlecase %>
        </td>
        <td>
          <%= exam.send(property) %>
        </td>
        <td>
          <%= exam.stats(property)[:high] %>
        </td>
        <td>
          <%= exam.stats(property)[:average] %>
        </td>
        <td>
          <%= exam.stats(property)[:percentile] %>
        </td>
        <td>
          <%= exam.stats(property)[:rank] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
