<div id="school-board" class="container-fluid">
  <h1>Tiny Tots</h1>
  <div class="row">
    <div id="Klasses" class="col-md-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <a type="button" class="pull-right" data-toggle="modal" data-target="#new_klass">
            <%= fa_icon "plus-circle" %>
          </a>
          <b>Classes</b>
        </div>
        <div id="klasses-list" class="list-group">
          <%= render @klasses %>
        </div>
      </div>
    </div>
    <div id="Sections" class="col-md-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <a type="button" class="pull-right" data-toggle="modal" data-target="#new_section">
            <%= fa_icon "plus-circle" %>
          </a>
          <b>Sections</b>
        </div>
        <div id="sections-list" class="list-group">
        </div>
      </div>
    </div>
    <div id="Students" class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading"><b>Students</b></div>
        <div class="panel-body">
          Students
        </div>
      </div>
    </div>
    <div id="Student" class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading"><b>Student</b></div>
        <div class="panel-body">
          Student
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "klasses/form" %>
<%= render partial: "sections/form" %>
