<div id="school-board" class="container-fluid">
  <h1>Tiny Tots <%= link_to "Upload Marks List", new_exam_path, class:"pull-right btn btn-sm btn-primary", id:"upload-marks-trigger" %></h1>
  <div class="row">
    <div id="klasses" class="col-md-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <a class="pull-right" data-toggle="modal" data-target="#new_klass" href="#">
            <%= fa_icon "plus-circle" %>
          </a>
          <b>Classes</b>
        </div>
        <div id="klasses-list" class="list-group">
          <%= render @klasses %>
        </div>
      </div>
    </div>
    <div id="analytics" class="col-md-10 hidden">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Analytics</b>
        </div>
        <div id="analytics_content" class="panel-body">
        </div>
      </div>
    </div>
    <div id="sections" class="col-md-2 hidden">
      <div class="panel panel-info">
        <div class="panel-heading">
          <%= link_to fa_icon("plus-circle"), "#", class: "pull-right add", remote: true %>
          <%= link_to fa_icon("line-chart"), "#", class: "pull-right charts", remote: true %>
          <b>Sections</b>
        </div>
        <div id="sections-list" class="list-group">
        </div>
      </div>
    </div>
    <div id="students" class="col-md-4 hidden">
      <div class="panel panel-info">
        <div class="panel-heading">
          <%= link_to fa_icon("plus-circle"), "#", class: "pull-right", id:"add-student-trigger", remote: true %>
          <span class="pull-right">&nbsp; &nbsp;</span>
          <%= link_to fa_icon("hand-o-up"), "#", class: "pull-right", id:"take-attendance-trigger", remote: true %>
          <b>Students</b>
        </div>
        <div id="students-list" class="list-group">
        </div>
      </div>
    </div>
    <div id="attendance" class="col-md-4 hidden">
      <div class="panel panel-info">
        <div class="panel-heading">
          <%= link_to "Submit", "#", class: "pull-right btn btn-sm btn-primary", id:"submit-attendance", remote: true %>
          <span class="pull-right">&nbsp; &nbsp;</span>
          <%= link_to "Cancel", "#", class: "pull-right btn btn-sm btn-default", id:"cancel-attendance", remote: true %>
          <b>Attendance</b>
        </div>
        <div id="attendants-list" class="list-group">
        </div>
      </div>
    </div>
    <div id="student" class="col-md-4 hidden">
      <div class="panel panel-info">
        <div class="panel-heading">
          <b>Student Details</b>
          <%= link_to fa_icon("pencil"), "#", class: "pull-right", remote: true %>
        </div>
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "klasses/form" %>
